body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#page-container {
  position: relative;
  width: 100%;
  height: 100%;

  transform: translate3d(0, 0, 0);
  transition: transform .5s ease-in-out;
}

.toggle-1-to-2 {
  transform: translate3d(-100%, 0, 0) !important;
  transition: transform .5s ease-in-out;
}

.toogle-2-to-3 {
  transform: translate3d(-200%, 0, 0) !important;
  transition: transform .5s ease-in-out;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.page > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#page-1 {
  left: 0;
}

#page-2 {
  left: 100%;
}

#page-3 {
  left: 200%;
}

/* 通用样式 */
.button {
  border: none;
  padding: .4rem .8rem;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.24);
}

/* 第一页 */
#page-1 {
  background: url('images/background.png') no-repeat;
  background-position: center center;
  background-size: cover;
}

#page-1-header {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
}

.page-1-header--item {
  margin-top: .8rem;
}

.page-1-header--item > img {
  margin-top: 2rem;
  margin-right: 2rem;
  object-fit: cover;
  float: right;
}

.page-1-header--item > img:first-child {
  margin-left: 2rem;
  float: left;
}

.header-head, .header-time {
  text-align: center;
}

.header-head {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(253,253,20);
  line-height: 1.4;
}

.header-time {
  font-size: 1.1rem;
  color: white;
}

#flags {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flag {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag-item {
  flex 0 1 auto;
  margin: 1rem;
}

.flag-item:first-child {
  margin-top: 0;
}

.flag-item > img {
  box-shadow: 0 2px 4px rgba(0,0,0,0.24);
}

.vote-button {
  color: #4821c0;
  font-size: 1rem;
}

.vote-status {
  margin-top: 1.5rem;
  color: white;
  text-align: center;
}

.vote-show {
  display: inline-block;
  margin: .4rem 0;
  padding: .5rem .8rem;
  border-radius: 3px;
  width: 3.5rem;
  background-color: rgb(253,253,20);
  font-weight: bold;
  color: #04b218;
}


/* 第二页 */
#page-2 {
  background-color: #04b218;
}

#page-2-wrap{
  position: absolute;
  width: 100%;
  top: 0;
}

#page-2-wrap > img{
  margin-top: 2rem;
  margin-right: 2rem;
  float: right;
}

#page-2-wrap > img:first-child {
  margin-left: 2rem;
  margin-bottom: 4rem;
  float: none;
}

#page-2-content {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: center;
}


#page-2-input {
  padding: 8px 12px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.24);
  border-radius: 3px;
  border: 0;
}

#page-2-input:focus {
  outline: none;
}

#page-2-send, #page-2-register {
  display: inline-block;
  margin: .2rem 0;
  padding: .3rem .5rem;
  background-color: rgb(253,253,20);
  color: #04b218;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.24);
}

#page-2-send {
  margin-left: 1rem;
}

#page-2-tip {
  display: inline-block;
  margin-top: .25rem;
  margin-bottom: 1rem;
  color: rgb(253,253,20);
}

#page-2-register {
  display: inline-block;
  margin-bottom: .5rem;
}

/* 第二页 */
#page-3 {
  background-color: #04b218;
}

#page-3-wrap{
  position: absolute;
  width: 100%;
  top: 0;
}

#page-3-wrap > img{
  margin-top: 2rem;
  margin-right: 2rem;
  float: right;
}

#page-3-wrap > img:first-child {
  margin-left: 2rem;
  margin-bottom: 4rem;
  float: none;
}

#page-3-content {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: center;
}

#page-3-input {
  display: inline-block;
  padding: 8px 12px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.24);
  border-radius: 3px;
  border: 0;
  margin-bottom: 1rem;
}

#page-3-input:focus {
  outline: none;
}

#page-3-send {
  display: inline-block;
  margin: .2rem 0;
  padding: .3rem .5rem;
  background-color: rgb(253,253,20);
  color: #04b218;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.24);
  margin-left: 1rem;
}

#girl-1, #girl-2 {
  object-fit: cover;
}

#girl-1 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

#girl-2 {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

/* 模态框 */
#model {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.48);
}

#model.toggled {
  display: block;
}

#model-wrap {
  width: 60%;
  margin: 30% 20% 0 20%;;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.48);
}

#model--header, #model--content, #model--footer {
  color: #0a88ff;
  padding: 0 2rem;
  text-align: center;
}

#model--header {
  font-size: 1.2rem;
  border-bottom: 1px solid #e3e3e3;
  padding: .9rem 0;
}

#model--content {
  line-height: 1.4;
  padding: 2rem 0;
}

#model--footer {
  border-top: 1px solid #e3e3e3;
  padding: .7rem 0;
}
