body {
  background-color: #7f8c8d;
}

.page {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.preload-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preload-page .progress-wrapper {
  width: 80%;
}
