@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

html {
  font-size: 16px;
}

.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: .6rem;
}

.frame > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.container-wrapper {
  display: none;
}

.container-fluidd {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container-fluidd #wrongMsg {
  display: none;
  width: 100%;
  margin-top: 1rem;
  color: #e74c3c;
  text-align: center;
}
.container-fluidd .row {
  margin: 0;
  padding: 1rem;
}
.container-fluidd .page0 {
  background-image: url(../images/background.png);
  background-size: contain;
  background-repeat: repeat;
  display: block;
  z-index: 1;
  padding: .6rem;
}
.container-fluidd .page0 .page0-top-row {
  position: relative;
  width: 100%;
}
.container-fluidd .page0 .page0-top-row .page0-top-imgs {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.container-fluidd .page0 .page0-top-row .page0-top-img > img {
  width: auto;
  height: 70px;
}
.container-fluidd .page0 .page0-date-row {
  position: relative;
  width: 100%;
  height: auto;
}
.container-fluidd .page0 .page0-date-row .page0-date {
  height: auto;
  padding: .5rem 0;
  color: #7f8c8d;
  font-size: 1rem;
  text-align: center;
  background-color: #efefef;
}
.container-fluidd .page0 .page0-date-row .page0-date:nth-child(2n) {
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
}
.container-fluidd .page0 .page0-date-row .page0-date:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.container-fluidd .page0 .page0-date-row .page0-date:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.container-fluidd .page0 .page0-date-row .active-date {
  text-decoration: none;
  background-color: #eee;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.container-fluidd .page0 .page0-timetable-row {
  position: relative;
  width: 100%;
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable {
  width: 100%;
  height: auto;
  padding: 0 0 1rem 0;
  border-radius: 5px;
  background-color: rgba(203, 230, 198, 0.72);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.12);
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-title {
  width: 100%;
  height: auto;
  padding: .8rem;
  color: #7f8c8d;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #efefef;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 1rem;
  padding: .5rem .6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game .page0-gamecard-left {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #27ae60;
  text-align: center;
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game .page0-gamecard-left img {
  width: 85%;
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game .page0-gamecard-mid {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  text-align: center;
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game .page0-gamecard-mid p:nth-child(1) {
  margin: 0;
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game .page0-gamecard-mid p:nth-child(2) {
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
  padding: .1rem;
  color: #fff;
  font-size: .9rem;
  background-color: #2ecc71;
  border-radius: 3px;
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game .page0-gamecard-right {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #27ae60;
  text-align: center;
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game .page0-gamecard-right img {
  width: 85%;
}
.container-fluidd .page0 .page0-timetable-row .page0-timetable .page0-timetable-game button {
  width: 85%;
  height: auto;
  padding: .2rem;
  margin-top: .5rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  color: #fff;
  font-size: .7rem;
}

/* 加载指示器 */
.model {
  display: none;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#process-container {
  display: none;
}
#process-container #process {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#process-container #process-item-wrapper {
  width: 6rem;
  height: 6rem;
  padding: 2rem;
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.48);
  background-color: rgba(0, 0, 0, 0.72);
}
#process-container #process-item {
  width: 2rem;
  height: 2rem;
}
#process-container .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
#process-container .rotate {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.shadow-box {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}
